
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 40px;
    background-color: #3ba3e6;
}
.header .contact{
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;


}
.header .contact .normal{
    display: flex;
    align-items: center;
    text-align: justify ;

}
.header .contact .normal span{
    padding-left: 12px;
    font-size: 18px;
    color: #ffff;
}
.header .contact .normal span i {
    padding-right: 5px;
}
.header .contact .social-contact{
    display: flex;
    text-align: center;
    align-items: right;

}
.header .contact .social-contact a i{
    margin: 0 5px;
    padding: 6px 8px;
    border: 1px solid #ffff;
    background-color: #ffff;
    border-radius: 50px ;
    color: #f38609;
    transition: .42s;
}
.header .contact .social-contact a i:hover{
    background-color: #f38609;
    color: #ffff;
}

#navbar{
    width: 100%;
    height: 60px;
    background-color: #ffff;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 0 8px #ccc;
}

.top-nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 22px;
    overflow: hidden;
    z-index: 1000;
    background-color: #ffff;
}
.top-nav .navmenu{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.top-nav .navmenu ul{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.top-nav .top-header a,
.top-nav .top-header a span{
    font-size: 29px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
}
.top-nav .top-header a span{
    color: #3ba3e6;
}

.top-nav .navmenu ul li a{
    font-size: 18px;
    color: #000;
    margin-left: 8px;
    padding-right: 11px;
    padding-left: 11px ;
}
.top-nav .navmenu ul li a:hover{
    color: #3ba3e6;
}
.top-nav .top-icons{
    display: flex;
    align-items: center;
    text-align: center;
}
.top-nav .top-icons i{
    font-size: 18px;
    padding-right: 19px;
    cursor: pointer;
    transition: .42s;
}
.top-nav .top-icons i:hover{
    color: #3ba3e6;
    transform: scale(1.1);
}

.main-menu{
    width: 100%;
    height: auto;
    background-color: #EDF0FF;
}
.main-menu .menu-row{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}
.main-menu .menu-row .menu-col{
    position: relative;
    top: 15%;
    left: 25%;
}
.main-menu .menu-row .menu-col h2{
    font-size: 68px;
    color: #00a9;
}
.main-menu .menu-row .menu-col p{
    font-size: 17px;
    padding: 30px o;
}
.main-menu .menu-row .menu-col .shop-btn{
    margin-top: 20px;
    padding: 12px 50px;
    font-size: 18px;
    outline: none;
    background: #000;
    color: #ffff;
    cursor: pointer;
    transition: .42s;
}
.main-menu .menu-row .menu-col .shop-btn:hover{
    background-color: #3ba3e6;
    border: 1px solid #3ba3e6 ;
}
.main-menu .menu-row img{
    position: relative;
    left: 40% ;
    width: 450px;
}
section{
    width: 100%;
    height: auto;
    padding: 30px 0;
    text-align: center;
}
 /*----- shop ----*/
 #shop h2{
    font-size: 34px;
    padding-top: 40px;
    text-align: center;
 }

 #shop p{
    padding: 30px 440px;
    text-align: center;
 }
 .items-row{
    width: 67%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px ;
 }

 .items-row .items-col{
    border: 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
    width: 300px;
 }

 .items-row .items-col .items-img{
    object-fit: cover;
    object-position: center;
    width: 300px;
    height: 300px;
    margin-bottom: 60px;
 }

 .items-row .items-col .items-img img{
    width: 100%;
    height: 100%; 
 }

 .items-row .items-col .items-img .card{
     width: 100%;
     background: rgb(110, 91, 171);
     color: #ffff;
     padding: 9px 0;
     font-size: 18px;
     height: 0;
     display: none; 
     cursor: pointer;
     transition: .42s;
 }
 .items-row .items-col:hover .items-img .card{
    height: 50px;
    display: block;
 }

 .items-row .items-col .content{
    border-top: 4px solid rgb(97, 97, 173);
    margin-top: -4px;
    text-align: center;
    padding: 10px 0;
 }

 .items-row .items-col .content h4{
    font-size: 20px;
    color: #000;
 }
 .items-row .items-col .content span{
    color: #000;
    font-weight: 500;
    font-size: 18px;
 }

 .shop-btn{
    margin: 60px 0;
    padding: 9px 40px;
    font-size: 24px;
    color: #ffff;
    font-weight: 550px;
    outline: none;
    background: #3ba3e6;
    border: none;
    cursor: pointer;
    transition: .42s;

 }

 .shop-btn:hover{
    background-color: #482079;
 }
 .sticky{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
 }

 .sticky + section{
    padding-top: 60px;
 }

 /*---- carts list ----*/
 #cart h2{
    font-size: 34px;
    padding-top: 70px;
    padding-bottom: 30px;
    margin-top: 40px;
    text-align: center;
    color: #000;
 }
 .cart-row{
    width: 67%;
    margin: 0 auto;
 }
 .cart-row .cart-col{
    padding-top: 30px;
    text-align: left;
 }

 .cart-row .cart-col table{
    border: none;
    border-right: none;
    border-left: none;
    width: 100%;
    height: 600px;
 }
 .cart-row .cart-col table tr td{
    padding: 8px 0;
    font-size: 18px;
    color: #000;
 }

 .cart-row .cart-col table tr td .cart-img{
    display: flex;
    align-items: center;
    text-align: middle;
 }

 .cart-row .cart-col table tr td .cart-img img{
    width: 180px;
    padding-right: 20px;
 }

 .cart-row .cart-col table tr td input{
    width: 50px;
    height: 50px;
    font-size: 15px;
    text-indent: 20px;
 }
 .cart-row .cart-col table tr td button{
    padding: 9px 30px;
    font-size: 18px;
    background-color: #3ba3e6;
    border: 1px solid #3ba3e6;
    color: #ffff;
    cursor: pointer;
    transition: .42s;
 }
 .cart-row .cart-col table tr td button:hover{
    background-color: #482079;
    border: 1px solid  #482079 ;
}
 